.Login, .Register {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form-container, .auth-form-container-register, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
    width: 600px;
    height: 700px;
    padding: 5rem;
    border: 3px solid #45a049;
    border-radius: 10px;
    border-width: 5px;
    margin: auto;
}

.auth-form-container-register {
    width: 600px;
    height: 870px;
    padding: 5rem;
    border: 3px solid #45a049;
    border-radius: 10px;
    border-width: 5px;
    margin: auto;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #e2e1e1;
}

button {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.login-btn, .register-btn {
  background-color: #45a049;
  color: white;
  border: none;
}

.link-btn {
  background: none;
  color: balck;
}


.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* .container {
  text-align: center;
} */

.auth-form-container-forgot {
  width: 600px;
    height: 870px;
    padding: 5rem;
    border: 3px solid #45a049;
    border-radius: 10px;
    border-width: 5px;
    margin: auto;
}

.text-center {
  text-align: center;
}

.wideImg {
  width: 150px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.forgot-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.forgot-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.forgot-btn:hover {
  background-color: #45a049;
}

.link-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.link-btn span {
  text-decoration: underline;
}

.link-btn:hover {
  color: #0056b3;
}
