.auth-page {
  background-size: 'cover';
  background-position: 'center';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abc897;
  height: 100vh;

}

.auth-form {
  width: 600px;
  padding: 5rem;
  border: 5px solid #45a049;
  border-radius: 10px;
  background-color: white;
}